.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    height: 700px;
    width: 500px;
    border-style: solid;
    border: 12px;
    border-radius: 6%;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.displayValue {
    height: 200px;
    width: 450px;
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border: 8px;
    margin-top: 20px;
}


.calcButtons {
    display: flex;
    flex-wrap: wrap;
}


.numberButtons {
    width: 350px;
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-self: center;
    margin-top: 30px;
    margin-left: 10px;
    gap: 15px;
   
 }

.numberButtons>* {
    flex: 1 1 80px;
}

.operatorButtons {
    height: 275px;
    width: 275px;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;

}

.operatorButtons>* {
    flex: 0 0 20%;
}